#logo{
	position:fixed;
	width:40px;
	left:20px;
	top :10px;
	z-index:3;
}

/*pc-navbar*/

.pc-navbar{
	position:fixed;
	top:0;
	width:100%;
	background:#142b47;
	overflow:auto;
	z-index:2;
}
.pc-navbar ul{
	padding:0px;
	margin:0px 80px ;
	list-style:none;
	line-height:60px;
}
.pc-navbar ul li{
	float:left;
}
.pc-navbar ul li a{
	background:#142b47;
	color:white;
	width:130px;
	text-decoration:none;
	text-align:center;
	display:block;
	color:#f2f2f2;
	font-size:18px;
	font-family:sans-serif;
	letter-spacing:0.5px;
}
.pc-navbar ul li a:hover{
	color:blue;
	font-size:19px;
}
#login-button-navbar{
	margin-top:8px;
	float:right;
	margin-right:20px;
	float:right;
	background:rgba(140, 0, 255, 1);
	color:white;
	border-radius:5px;
	cursor:pointer;
	position:relative;
	padding:10px;
	font-family:sans-serif;
	border:none;
	font-size:16px;
}
#login-button-navbar:hover{
	background:rgba(100,0,255,1);
}

/*SIDEBAR*/

#container{
	position:fixed;
	top:0;
	width:100%;
	max-width: 100% !important;
	height:77px;
	background:#142b47;
	z-index:2;
}

#header{
	position:fixed;
	top:25px;
	left:70px;
	font-size:13px;
	color:#fff;
}

#toggle-btn{
	position:fixed;
	right:20px;
	top:20px;
	z-index:2;
}
#toggle-btn:hover{
	cursor:pointer;
}
#toggle-btn span{
	display:block;
	width:30px;
	height:5px;
	background:#ffffff;
	margin: 3px 0px;
}
#sidebar{
	position:fixed;
	width:100%;
	height:auto;
	top:-427px;
	z-index:2;
	background:#151719;
	left:0px;
	transition:all 500ms linear;
	color:white;
	border-top:1px lightblue solid;
}
#sidebar.active{
	top:77px;
}
#sidebar ul {
	margin: 0;
	padding: 0px 0px;
}
#sidebar ul li{
	font-style:none;
}
#sidebar ul li a{
	padding:15px 20px;
	color:rgba(230,230,230,0.9);
	text-decoration:none;
	display:block;
	list-style:none;
}
#sidebar ul li:hover a{
	background:lightblue;
	transition:0.9s;
	color:#151719;
}

#login-button-sidebar{
	margin-top:-5px;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	background:rgba(140, 0, 255, 1);
	color:white;
	border-radius:5px;
	cursor:pointer;
	position:relative;
	padding:10px;
	font-family:sans-serif;
	border:none;
	font-size:16px;
}
#login-button-sidebar:hover{
	background:rgba(100,0,255,1);
}

@media only screen and (max-width:899px){
	.pc-navbar{
		display:none;
	}
	#logo{
		top:15px;
	}
}
@media only screen and (min-width:900px){
	#sidebar, #toggle-btn, #container{
		display:none;
	}
}
@media only screen and (min-width:600px){
	#header{
		left:90px;
		font-size:20px;
	}
}